.Mytheresa_Home_Main{
    width: 90%;
    border: 2px solid red;
    margin: 0 auto;
}
.Mytheresa_Home_Men_Women_main{
    width: 90%;
    display: flex;
    border: 2px solid blue;
    margin: 0 auto;
    padding: 10px;
}
.Mytheresa_Home_Women{
    width: 50%;
}
.Mytheresa_Home_Women img{
width: 100%;
}
.Mytheresa_Home_Men{
    width: 50%;
}
.Mytheresa_Home_Men img{
    width: 100%;
}
.Mytheresa_Home_Kids img{
    width: 100%;
}
.Mytheresa_Home_Kids_Main{
    width: 90%;
    border: 2px solid rgb(153, 0, 255);
    margin: 0 auto;
    padding: 10px;
}
.Mytheresa_Home_Life img{
    width: 100%;
}
.Mytheresa_Home_Life_Main{
    width: 90%;
    border: 2px solid rgb(153, 0, 255);
    margin: 0 auto;
    padding: 10px;
}
